{% extends "layout.njk" %}

{% block content %}

<div class="card">
    
    <section class="avatar"></section>
    <section class="details">

    <form method="POST" action="/members?_method=PUT">
            <h3>Editar Membro</h3>

            {% include 'members/fields.njk' %}

            <input type="hidden" name="id" value={{members.id}}>
    </form>

        <form id="form-delete" action="/members?_method=DELETE" method="POST">            
            <input type="hidden" name="id" value={{members.id}}>
            <button type="submit">Deletar</button>
        </form>
    
    </section>
</div>

<scrip>
    const formDelete = document.querySelector("#form-delete")
    formDelete.addEventListener("submit", function(event){
        const confirmation = confirm("Deseja excluir")
            if(!confirmation) {
                event.preventDefault()
            }
        })

</scrip>

{% endblock content %}