{% extends "layout.njk" %}

{% block content %}

<div class="card table-container">

   <a href="/members/create">Novo</a>

   <table width="100%">
      <thead>
         <tr>
            <th>Instrutores</th>
            <th>Atendimento</th>
            <th>Action</th>
         </tr>
      </thead>
      <tbody>
         

      </tbody>
   </table>
</div>

{% endblock content %}