{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <section class="avatar"></section>
    <section class="details">
        <h3>Detalhes</h3>
            <div class="item">
                <div>Membro</div>
                <div>{{members.name}}</div>
            </div>

            <div class="item">
                <div>Email</div>
                <div>{{members.email}}</div>
            </div>

            <div class="item">
                <div>Data de aniversario</div>
                <div>{{members.birth}}</div>
            </div>

            <div class="item">
                <div>Sexo</div>
                <div>{{ "Masculino" if members.gender == "M" else "Feminino"}}</div>
            </div>

            <div class="item">
                <div>Tipo sanguineo</div>
                <div>{{members.blood}}</div>
            </div>

            <div class="item">
                <div>Altura</div>
                <div>{{members.height}}</div>
            </div>

            <div class="item">
                <div>Peso</div>
                <div>{{members.weight}}</div>
            </div>

            <a href="/members/{{members.id}}/edit" class="button">Editar</a>

    </section>
</div>

{% endblock content %}