@import "https://fonts.googleapis.com/icon?family=Material+Icons";

:root {
    --color-purple: #7159c1;
}

.cards{
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card{
    background-color: var(--color-purple);
    display: grid;
    cursor: pointer;
}

.card_image-container img{
    width: 100%;
}

.card_content,
.card_info{
    padding: 24px;
}

.card_info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* only with display grid */
    align-items: center;
}

.card_price{
    background-color: var(--color-purple);
    filter: brightness(90%);
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

.modal-overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal{
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal{
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.modal-overlay.active{
    opacity: 1;
    visibility: visible;

}

iframe{
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}

/* feature */
.feature-wrapper .card_image-container{
    position: relative;
}

.feature{
    background: #f7d15f;
    color: black;
    padding: 2px 8px;
    position: absolute;
    right: 5px;
    border-radius: 16px;
    top: -2px;
}

/* video */
.video{
    margin: 0 auto;
    max-width: 800px;
}

.card_video-container{
    position: relative;
    padding-top: 50%;
}

.card_video-container iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
}