<div class="item">
    <div>Avatar Url</div>
    <div>
        <input type="url" name="avatar_url" placeholder="http://">
    </div>
</div>

<div class="item">
    <div>Instrutor</div>
    <div>
        <input type="text" name="name" placeholder="nome">
    </div>
</div>

<div class="item">
    <div>Idade</div>
    <div><input type="date" name="niver"></div>
</div>

<div class="item">
    <div>Sexo</div>
    <div>
        <span><input type="radio" name="geneder" value="M" checked>Masculino</span>
        <span><input type="radio" name="geneder" value="F">Feminino</span>
    </div>
</div>

<div class="item">
    <div>Area de atuacao</div>
    <div>
        <input type="text" name="services">
    </div>
</div>

<button type="submit">Salvar</button>