{% extends "layout.njk" %}

{% block content %}

<div class="card">
    <section class="avatar"></section>
    <section class="details">
        <h3>Detalhes</h3>
            <div class="item">
                <div>instructors</div>
                <div>{{instructors.name}}</div>
            </div>

            <div class="item">
                <div>Idade</div>
                <div>{{instructors.age}}</div>
            </div>

            <div class="item">
                <div>Sexo</div>
                <div>{{ "Masculino" if instructors.gender == "M" else "Feminino"}}</div>
            </div>

            <div class="item">
                <div>Acompanhamento</div>
                <div>
                    {% for service in instructors.services %}
                        <span>{{service}}</span>
                    {% endfor %}
                </div>
            </div>

            <div class="item">
                <div>Desde</div>
                <div>{{instructors.created_at}}</div>
            </div>

            <a href="/instructors/{{instructors.id}}/edit" class="button">Editar</a>

    </section>
</div>

{% endblock content %}